// Body
$body-bg: #1E1E1E;

// Typography
$font-family-sans-serif: 'Lexend', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-weight-base: 200;
$color-text-base: #FFFAFB;

// Font sizes
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-42: 42px;
$font-size-44: 44px;
$font-size-48: 48px;
$font-size-62: 62px;

// Font weights
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

// Color
$main-red: #FF4E6B;
$main-blue: #4DB4FF;
$main-green: #00CC66;
$main-yellow: #FFBB33;

$transparent-red: #FF4E6B29;
$transparent-blue: #4DB4FF29;
$transparent-green: #00CC6629;
$transparent-yellow: #FFBB3329;

$main-light: #fffafb;
$dark-grey: #797979;
$black: #131315;
$dark-shadow: #00000066;
